.ticket {
    height: 161px;
    width: 566px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(103, 101, 101);
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.btn-buy {
    background-color: #FF6D00;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    width: 160px;
    height: 56px;
}