.filters {
    height: 331px;
    width: 232px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #333;
    margin: 10px;
}

.transplants-filter {
    display: flex;
}

.filters-container {

}
.lang {
    list-style: none;
    display: flex;
    border: 1px solid #D2D5D6;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    margin: auto;
}